{{ if eq .Type "publication" }}
  {{ if .Params.authors }}
    {{ $authorLen := len .Params.authors }}
    {{ if gt $authorLen 0 }}
      <div class="container mx-auto px-4 py-6">
        <div class="flex flex-wrap gap-2 mb-6">
          {{ range $index, $author := .Params.authors }}
            {{ $author_urlized := . | urlize }}
            {{ $author_path := printf "/authors/%s" $author_urlized }}
            {{ $author_page := site.GetPage $author_path }}
            
            {{ if $author_page }}
              <a href="{{ $author_page.RelPermalink }}" class="text-primary-600 hover:text-primary-800 dark:text-primary-400 dark:hover:text-primary-300 font-medium">
                {{ $author_page.Title }}{{ if ne $index (sub $authorLen 1) }},{{ end }}
              </a>
            {{ else }}
              <span class="text-gray-700 dark:text-gray-300 font-medium">
                {{ . }}{{ if ne $index (sub $authorLen 1) }},{{ end }}
              </span>
            {{ end }}
          {{ end }}
        </div>
      </div>
    {{ end }}
  {{ end }}
{{ end }}